<div *ngIf="configType === 'single'">
  <ng-selectize [options]="usersList"
                [config]="globals.singleConfig"
                placeholder="Search for..."
                [(ngModel)]="filteredUser"
                (ngModelChange)="submitUser($event)">
  </ng-selectize>
</div>

<div *ngIf="configType === 'multiple'">
  <ng-selectize [options]="suggestedUsers"
                [config]="globals.multipleConfig"
                placeholder="Search for..."
                [(ngModel)]="filteredMembers"
                (ngModelChange)="submitUsersList($event)">
  </ng-selectize>
</div>

<div *ngIf="configType === 'groups'">
  <ng-selectize [options]="suggestedGroups"
                [config]="globals.multipleGroupConfig"
                placeholder="Search for..."
                [(ngModel)]="filteredGroups"
                (ngModelChange)="submitGroupsList($event)">
  </ng-selectize>
</div>
