<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fa fa-icon fa-info-circle"></i>Profile</ng-template>
    <ng-template ngbTabContent>
      <div class="container-fluid">
        <div *ngIf="!updateInfo" class="notification-label">
          <span style="margin-right: 10px;">{{currentUser.name?.first}}'s Profile</span>
          <button class="btn btn-outline-warning" (click)="toggleEditButton()"><i class="fa fa-icon fa-pencil"></i>Edit</button>
        </div>

        <table *ngIf="!updateInfo" class="table table-hover">
          <tr>
            <td><strong>Username</strong></td>
            <td>{{currentUser.username}}</td>
          </tr>
          <tr>
            <td><strong>Name</strong></td>
            <td>{{currentUser.name?.first}} {{currentUser.name?.last}}</td>
          </tr>
          <tr>
            <td><strong>E-mail</strong></td>
            <td>{{currentUser.email}}</td>
          </tr>
        </table>

        <!-- Update current user's basic info and/or password -->
        <div *ngIf="updateInfo">
          <div style="margin-top:30px;">
            <ngb-alert type="warning" [dismissible]="false">
              <strong>Warning:</strong> Any changes made will log you out once
              when accessing another page in order to make the appropriate
              changes. Simply log in again afterward.
            </ngb-alert>
          </div>

          <div class="alert-messages" *ngIf="alert" style="margin-top:-10px;">
            <ngb-alert type="danger" [dismissible]="false">
              <i class="fa fa-icon fa-times-circle"></i><strong>Error:</strong> {{ alert.message }}
              <span *ngIf="reasons">
                <ng-container *ngFor="let reason of reasons">
                    <li>{{ reason }}</li>
                </ng-container>
              </span>
            </ngb-alert>
          </div>

          <div class="text-hint">Basic Information</div>

          <div class="row">
            <span class="col-3">First Name</span>
            <span class="col-6">
              <input type="text" class="form-control" placeholder="Enter a first name" [(ngModel)]="currentUser.name.first">
            </span>
          </div>

          <div class="row">
            <span class="col-3">Last Name</span>
            <span class="col-6">
              <input type="text" class="form-control" placeholder="Enter a last name" [(ngModel)]="currentUser.name.last">
            </span>
          </div>

          <div class="row">
            <span class="col-3">E-mail</span>
            <span class="col-6">
              <input type="email" class="form-control" placeholder="Enter a valid e-mail" [(ngModel)]="currentUser.email">
            </span>
          </div>

          <div class="text-hint">Change Password</div>

          <div class="row">
            <span class="col-3">New Password</span>
            <span class="col-6">
              <input type="password" class="form-control" placeholder="Enter a new password" [(ngModel)]="newPassword">
            </span>
          </div>

          <div class="row">
            <span class="col-3">Confirm New Password</span>
            <span class="col-6">
              <input type="password" class="form-control"placeholder="Re-enter the new password" [(ngModel)]="confirmPassword">
            </span>
          </div>

          <div class="update-buttons col-9">
            <button class="btn btn-outline-warning" (click)="updateBasicInfo()">Save</button>
            <button class="btn btn-outline-warning" (click)="toggleEditButton()">Cancel</button>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
