.header-container {
  padding: 7px;
}

.grid-space {
  padding-top: 20px;
}

.college-label {
  padding: 5px;
  padding-right: 15px;
  text-align: right;
}

.text-hints {
  color: #808080;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: left;
}

.btn-college {
  width: 150px;
  margin-top: 3px;
  margin-right: -12px;
  margin-bottom: 3px;
}

.toolbar {
  background-color: black;
}
