  <table *ngIf="programs.length > 0; else emptyPrograms" class="table table-inverse">
    <thead>
      <tr>
        <th class="table-header">PROGRAMS</th>
        <th class="table-header">REVIEW DATE</th>
        <th class="table-header">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let program of programs">
        <td *ngIf="program._id === editedProgram"><input type="text" class="form-control" [(ngModel)]="program.name" value="{{program.name}}"></td>
        <td *ngIf="program._id !== editedProgram">{{program.name}}</td>
        <td *ngIf="program._id === editedProgram">
          <div class="input-group">
            <input class="form-control" [(ngModel)]="dateModel"
                 name="dp" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <span><i class="fa fa-calendar"></i></span>
              </button>
            </div>
          </div>
        </td>
        <td *ngIf="program._id !== editedProgram">{{program.nextReviewDate | date: 'yyyy-MM-dd'}}</td>
        <td>
          <!-- ACTION BUTTONS -->
          <button *ngIf="program._id === editedProgram" (click)="updateProgram()" class="btn btn-outline-warning mb-1 btn-sm">
            UPDATE
          </button>
          <button *ngIf="program._id !== editedProgram" (click)="editProgram(program)" class="btn btn-outline-warning mb-1 btn-sm">
            EDIT
          </button>
          <button (click)="deleteProgram(program)" class="btn btn-outline-danger mb-1 btn-sm">
            DELETE
          </button>
          <button *ngIf="program._id === editedProgram" (click)="cancelUpdate()" class="btn btn-outline-dark mb-1 btn-sm">
            CANCEL
          </button>
        </td>
      </tr>
    </tbody>
  </table>

<ng-template #emptyPrograms>
  <ngb-alert type="info" [dismissible]="false">No programs exist for this department.</ngb-alert>
</ng-template>

<!-- NEW PROGRAM FORM -->
<div *ngIf="alerts">
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{alert.message}}</ngb-alert>
  </p>
</div>

<div class="row grid-space">
  <span class="col-3">Add a Progam</span>
  <div class="col-9">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="newProgram.name" placeholder="Enter a program name"/>
    </div>
    <div class="text-hints">Enter a name for the new program.</div>
  </div>
</div>
<div class="row grid-space">
  <span class="col-3">Set Review Date</span>
  <div class="col-9">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="nextReviewDate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <span><i class="fa fa-calendar"></i></span>
        </button>
      </div>
    </div>
    <div class="text-hints">Enter the next review date for this program.</div>
  </div>
</div>

<!-- MODAL BUTTONS -->
<div class=" grid-space modal-footer">
  <button class="btn btn-success" (click)="addProgram()">Submit</button>
  <button class="btn btn-dark" type="button" (click)="closeModal()">Close</button>
</div>
