<!-- Modal for creating a review -->
<ng-template #createReviewModal>
  <div class="modal-header">
    <h5 class="modal-title">Create Review</h5>
  </div>
  <form #f="ngForm" (ngSubmit)="submitReview()">
    <div class="modal-body">
      <div *ngIf="alert">
        <ngb-alert type="danger" [dismissible]="false">
          <strong>Invalid Review:</strong> {{ alert.message }}
        </ngb-alert>
      </div>

      <div class="form-row">
        <span class="col-3 group-label">Program</span>
        <div class="form-group col-8">
          <select class="custom-select" [(ngModel)]="selectedOption" name="program-list">
            <option *ngFor="let program of programs" [ngValue]="program._id">
              {{program.name}}
            </option>
          </select>

          <div class="text-hints">
            Select a program to initiate a review.
          </div>
        </div>

      </div>

      <div class ="row grid-space">
        <span class="col-3 group-label">Add Lead Reviewers</span>
        <span class="col-8 ui-fluid">
          <prism-user-selector [configType]="'multiple'"
                               [filterType]="'prs'"
                               [suggestedMembers]="suggestedUsers">
        </prism-user-selector>
        <div class="text-hints">
          Type in a username to get a list of possible users to add as a lead reviewer.
        </div>
      </span>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="submit">Submit</button>
    <button class="btn btn-dark" type="button" (click)="closeModal()">Cancel</button>
  </div>

</form>
</ng-template>

<!-- Modal for editing lead reviewers -->
<ng-template #editLeadReviewersModal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Lead Reviewers</h5>
  </div>


  <div class="modal-body" *ngIf="currentReview">
    <div *ngIf="alert">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Invalid Review:</strong> {{ alert.message }}
      </ngb-alert>
    </div>

    <div class="form-row" *ngIf="currentReview.leadReviewers">
      <table class="table table-hover">
        <thead class="bg-info">
          <tr>
            <th class="align-middle">Username</th>
            <th class="align-middle">Full Name</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leadReviewer of currentReview.leadReviewers">
            <td>{{leadReviewer.username}}</td>
            <td>{{leadReviewer.name?.first}} {{leadReviewer.name?.last}}</td>
            <td style="word-wrap: break-word;">{{leadReviewer.email}}</td>
            <td>
              <button class="btn btn-info" (click)="deleteLeadReviewer(leadReviewer._id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="editLeadReviewers(currentReview._id, currentReview.program._id, currentReview.leadReviewers)">
    <div class ="row grid-space">
      <span class="container-fluid" style="padding:30px;">
        <prism-user-selector [configType]="'multiple'"
                             [filterType]="'prs'"
                             [suggestionFilter]="suggestionFilter">
        </prism-user-selector>

        <div class="text-hints">
          Type in a username to get a list of possible users to add as a lead reviewer.
        </div>
      </span>
    </div>

    <!-- <div><pre>{{ currentReview | json }}</pre></div> -->

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-dark" type="button" (click)="closeModal()">Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteReviewModal>
  <div class="modal-header">
    <h5 class="modal-title">Delete Review</h5>
  </div>

  <div class="modal-body" *ngIf="currentReview">
    <div class="modal-message">
      <div style="text-align: center; padding-bottom: 20px;">
        <span class="modal-warning">
          <i class="fa fa-icon fa-exclamation-triangle"></i>Warning
        </span>
      </div>
      Are you sure you want to delete
      <strong>
        {{currentReview.program?.name}} {{yearString(currentReview.startDate)}}
      </strong> review?
    </div>
  </div>

    <!-- <div><pre>{{ currentReview | json }}</pre></div> -->

    <div class="modal-footer">
      <button class="btn btn-danger" type="button" (click)="deleteReview()">Delete</button>
      <button class="btn btn-dark" type="button" (click)="closeModal()">Cancel</button>
    </div>
</ng-template>

<!-- Display review list content -->
<div class="container-fluid container-fluid-content">
  <div class="container-fluid" style="text-align: right; padding: 0;"
       *ngIf="reviewFilter !== 'archive' && reviewFilter !== 'deleted' && sharedService.isAdmin()">
    <button class="btn btn-primary" (click)="openModal(createReviewModal)">
      <i class="fa fa-icon fa-plus"></i>Create Review
    </button>
  </div>

  <div class="row" *ngIf="reviews.length > 0; else emptyReviews">
    <ng-container *ngFor="let review of reviews">
      <div class="col-sm-6">
        <div class="card card-container"
             [ngStyle]="(reviewFilter !== 'archive') && {'border-left': '#FFCE00',
                       'border-style': 'solid'} || {'border-left': '#008000', 'border-style': 'solid'}">
          <div class="card-body">
            <div class="card-header-title container-fluid">
              <div class="card-message">
                <a *ngIf="!review.deleted" routerLink="/review/{{review._id}}">
                  {{ review.program?.name}} {{ yearString(review.startDate)}}
                  <i class="fa fa-chevron-right"></i>
                </a>
                <span *ngIf="review.deleted">
                  {{ review.program?.name}} {{ yearString(review.startDate)}}
                </span>
                <div class="card-info">
                  <i style="font-weight: lighter;">
                    {{review.program?.department?.name}}
                  </i><br/>
                  {{review.program?.department?.college?.name}}
                </div>
              </div>
              <div class="card-details">
                <strong>Start Date:</strong> {{review.startDate | date: 'MM/dd/yyyy'}} &#8212; <strong>{{review.percentComplete}}% complete</strong><br/>
                <strong>Finish Date:</strong> {{review.finishDate | date: 'MM/dd/yyyy'}}
                <br />
                <strong>Lead Reviewer(s):</strong>
                <ng-container *ngFor="let leadReviewer of review.leadReviewers; let idx = index;">
                  {{leadReviewer.name?.first}} {{leadReviewer.name?.last}}{{ idx + 1 < review.leadReviewers.length ? ',' : '' }}
                </ng-container>

                <div *ngIf="this.reviewFilter !== 'archive' && sharedService.isAdmin()" style="margin-top:15px;">
                  <div *ngIf="!review.deleted" class="review-actions"
                       (click)="openModal(editLeadReviewersModal, review._id)">
                    <i class="fa fa-icon fa-pencil"></i>Edit Lead Reviewers
                  </div>

                  <div *ngIf="!review.deleted" class="review-actions"
                       (click)="openModal(deleteReviewModal, review._id)">
                    <i class="fa fa-icon fa-trash"></i>Delete Review
                  </div>

                  <div *ngIf="review.deleted" class="review-actions" (click)="restoreReview(review._id)">
                      <i class="fa fa-icon fa-window-restore"></i>Restore Review
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #emptyReviews>
  <p style="padding-top: 20px;">
    <ngb-alert class="info-message" type="info" [dismissible]="false">
      <strong> Information: </strong> There are currently no reviews.
    </ngb-alert>
  </p>
</ng-template>
