a {
  color: #198FC2;
  font-weight: bold;
}

a:hover {
  color: #126183;
}

.bg-info {
  color: #FFFFFF;
}

.card-container {
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-body {
  padding: 0;
}

.card-details {
  color: #606060;
  font-size: 0.9em;
  padding-top: 10px;
}

.card-message {
  background-color: #EEE;
  border-radius: 5px;
  padding: 15px;
}

.review-actions {
  cursor: pointer;
}

.review-actions:hover {
  text-decoration: underline;
}

.review-info {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.search-bar {
  background: #EEE;
  padding: 30px;
}
