.bar-text {
  font-family: sans-serif;
  margin-bottom: 3px;
  margin-left: 7px;
  margin-top: 5px;
}

.btn-department {
  margin-bottom: 3px;
  margin-right: -7px;
  margin-top: 3px;
  width: 175px;
}

.content-bar {
  padding: 5px;
  padding-right: 15px;
  text-align: left;
}

.department-header-panel {
  color: #000;
  position: relative;
}
