.fa {
  padding-right: 5px;
}

hr {
  display:block;
  height: 5px;
  width: 100%;
}

.menu-list {
  padding-top: 80px;
}

.menu-label {
  background: #18121E;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.nav-greeting {
  padding: 15px;
}

.nav-side-menu {
  background-color: #EEE;
  bottom: 0;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 275px;
}

.sidebar {
  display: block;
  position: fixed;
  width: 250px;
  z-index: 1;
}

@media (min-width: 990px) {
  .main {
    padding-left: 290px; /* 250 + extra padding */
  }
}
