<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="nav-side-menu" [ngbCollapse]="isCollapsed" (window:resize)="onResize($event)">
        <div class="menu-list">
          <div class="nav-greeting"><i class="fa fa-icon fa-user-o"></i> Welcome, <strong>{{ username }}</strong>!</div>
          <hr/>
          <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="fa fa-icon-group fa-home"></i>Dashboard
          </a>
          <a class="nav-link" *ngIf="sharedService.isAdminOrPrs()" [routerLink]="['/calendar']">
            <i class="fa fa-icon-group fa-calendar"></i>Calendar
          </a>
          <a class="nav-link" *ngIf="sharedService.isAdmin()" [routerLink]="['/university-hierarchy']">
            <i class="fa fa-icon-group fa-graduation-cap"></i>University Hierarchy
          </a>
          <a class="nav-link" *ngIf="sharedService.isAdminOrPrs()" [routerLink]="['/resources']">
            <i class="fa fa-icon-group fa-folder-open-o"></i>Resources
          </a>
          <a class="nav-link" [routerLink]="['/groups']">
            <i class="fa fa-icon-group fa-users"></i>{{ sharedService.isAdmin() ? 'Group Manager' : 'Committee' }}
          </a>
          <a class="nav-link" *ngIf="sharedService.isAdmin()" [routerLink]="['/templates']">
            <i class="fa fa-icon-group fa-folder"></i>Template Manager
          </a>

          <hr/>

          <a class="nav-link" [routerLink]="['/settings']">
            <i class="fa fa-icon-group fa-gear"></i>Settings
          </a>
          <a class="nav-link" [routerLink]="" (click)="logout()">
            <i class="fa fa-icon-group fa-sign-out"></i>Sign Out
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
