<p-menubar [model]="menuItems">
  <div class="ui-g ui-sm-2">
    <p-splitButton class="user-button" label="User" icon="fa-user-o" [model]="userMenuItems"></p-splitButton>
  </div>
</p-menubar>

<div class="dashboard-module">
  <div class="ui-g">
    <div class="menu-grid ui-g-12 ui-md-2">
      <div class="ui-g-12">
        <p-menu class="action-menu" [model]="actionMenu"></p-menu>
      </div>
    </div>

    <div class="tab-grid ui-g-12 ui-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
