.fa {
  padding-right: 5px;
}

.menu-list {
  padding-top: 80px;
}

.menu-label {
  background: #18121E;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.nav-greeting {
  padding: 15px;
}

.nav-side-menu {
  background-color: #EEE;
  bottom: 0;
  height: 100%;
  position: fixed;
  width: 275px;
  z-index: 2;
}

.sidebar {
    display: block;
    position: fixed;
    width: 250px;
    z-index: -1;
}

@media (min-width: 768px) {
  .main {
    padding-left: 300px; /* 250 + 50 */
    padding-right: 50px;
  }
}
