.dashboard-module {
  padding-top: 50px;
}

.fa {
  padding-right: 5px;
}

.menu-grid {
  /* background: #000; */
  padding-left: 30px;
  word-wrap: break-word;
}

.menu-label {
  background: #18121E;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.tab-grid{
  /* background-color: #BEF9E9; */
  padding-left: 30px;
  padding-right: 20px;
}

.user-button {
  padding: 4px;
}

.vertical-menu, a {
  background-color: #EEE;
  color: #000;
  text-decoration: none;
  width: 100%;
}

.vertical-menu a:hover {
    background-color: #CCC;
}
