<div class="container-fluid">
  <div class="row">
    <div class="col-2 menu-grid">
      <div class="row">
        <div class="col-12 menu-label">Action Menu</div>

        <div class="vertical-menu">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active"><i class="fa fa-home"></i> Dashboard</a>
          <a class="nav-link" [routerLink]="['/calendar']"  routerLinkActive="active"><i class="fa fa-calendar"></i> Calendar</a>
          <a class="nav-link" [routerLink]="['/minutes']"   routerLinkActive="active"><i class="fa fa-clock-o"></i> Minutes</a>
          <a class="nav-link" [routerLink]="['/colleges']"  routerLinkActive="active"><i class="fa fa-graduation-cap"></i> University Hierarchy</a>
          <a class="nav-link" [routerLink]="['/minutes']"   routerLinkActive="active"><i class="fa fa-folder-open-o"></i> Resources</a>
          <a class="nav-link" [routerLink]="['/committee']" routerLinkActive="active"><i class="fa fa-users"></i> Committee</a>
        </div>
      </div>
    </div>

    <div class="col-10 tab-grid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
