<!-- Page Header -->
<div class="page-header">
  <div class="btn-toolbar pull-right">
    <!-- Download all button -->
    <div class="btn-group">
      <button type="button" (click)="downloadAll()" class="btn btn-md btn-primary vertical-space">Download All</button>
    </div>
    <!-- Add resource button -->
    <div class="btn-group">
      <button type="button" (click)="open(newResourceModal)" class="btn btn-md btn-success vertical-space">New</button>
    </div>
  </div>
  <h1 class="header-text">PRS Resources</h1>
</div>
<div class="container">
  <div class="row">
    <span class="search-container">
      <input type="text" placeholder="Search Your Resources">
      <button><i class="fa fa-search"></i></button>
    </span>
    <span class="counter"><p>{{resources.length}} item(s)</p></span>
  </div>
</div>

<!-- Modal for adding new resource -->
<ng-template #newResourceModal>
  <div class="modal-header">
    <h5 class="modal-title">Upload New Resource</h5>
  </div>
  <form #f="ngForm" (ngSubmit)="postNewResource()">
    <div class="modal-body">
      <div *ngIf="alert">
        <ngb-alert type="danger" [dismissible]="false"><i class="fa fa-icon fa-exclamation-circle"></i><strong>Error:</strong> {{ alert.message }}</ngb-alert>
      </div>
      <div class="modal-message">

        <div class="custom-file">
          <input name="file" type="file" class="custom-file-input"
           accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="onFileChange($event)">

          <label class="custom-file-label">
            {{ fileName ? fileName : 'Choose a file'}}
          </label>
          <div class="text-hints">Click on browse to attach a file.</div>
        </div>

        <div class="file-title">
          <input type="text" class="form-control"
          [(ngModel)]="resource.title" name="file-title"
          placeholder="Enter the title of this resource" required>
          <div class="text-hints">Type a title for the new resource.</div>
        </div>

      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Upload</button>
      <button class="btn btn-dark" type="button" (click)="closeModal()">Cancel</button>
    </div>
  </form>
</ng-template>

<!-- Display all resources -->
<div class="grid-space">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" style="width:2%"></th>
        <th scope="col" style="width:50%">Title</th>
        <th scope="col" style="width:30%">Uploaded By</th>
        <th scope="col" style="width:18%">Date Uploaded</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of resources">
        <td><input type="checkbox"></td>
        <td>{{resource.title}}</td>
        <td>{{resource.files[0].uploader.username}}</td>
        <td>{{resource.files[0].dateUploaded | date: 'yyyy-MM-dd'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
