.header-container {
  align-items: center;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}

.header-divider {
  border-top: 1px solid #989898;
  flex-grow: 1;
  margin: 0 10px;
}
