<div class="container-fluid document-header">
<div class="header-label">
  <span class="label">{{document.title}}</span><button type="button" class="btn btn-dark" (click)=openModal(editDocumentNameModal)><i class="fa fa-icon fa-pencil"></i>Edit</button>
  <span class ="document-btn-right">
    <button type="button" class="btn btn-danger"><i class="fa fa-icon fa-eye"></i>Watch</button>
  </span>
</div>
</div>



<ngb-tabset>
<ngb-tab>
<ng-template ngbTabTitle><i class="fa fa-icon fa-file-text-o"></i>Main Version</ng-template>
<ng-template ngbTabContent>
This tab holds the current version of the document. Revisions of the
same document can be found in the revisions tab. <br/><br/>

<strong>Frontend testing purposes only</strong> <br/>
(create a document, take the ID and paste it onto retrieveDocument function in ngOnInit before refreshing):

<div class="input-group">
<input type="text" class="form-control" [(ngModel)]="document.title" placeholder="Enter document title" name="document-title">
<button type="button" class="btn btn-success" (click)="createNewDocument(document.title)">Create Document</button>
</div>

<div>
<pre><p>Document file: {{ document | json}}</p></pre>
</div>

<div class="header-container">
Current Version
<div class="header-divider"></div>
</div>
<div>
<form #f="ngForm" (ngSubmit)="uploadFile()">
<div class="form-group">
<input type="text" class="form-control" [(ngModel)]="message" name="file-message" placeholder="Enter a comment about the file">
<input name="file"
type="file"
accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
(change)="onFileChange($event)">
</div>
<button type="submit" class="btn btn-success">Upload</button>
</form>

what is message: {{ message}}
</div>
</ng-template>
</ngb-tab>

<ngb-tab>
<ng-template ngbTabTitle><i class="fa fa-icon fa-list"></i>Revisions</ng-template>
<ng-template ngbTabContent>
  <div class="container" style="padding-top: 20px;">
    This tab holds previous revisions of the document for archiving purposes. Only the
    administrator can revert to any previous revision without losing the current one.

    <div class="header-container">
      Previous Revisions
      <div class="header-divider"></div>
    </div>

    <div class="card card-container" *ngFor="let revision of document.revisions | reverse; let idx = index">
      <div class="card-body">
        <div class="card-document-title">
          <div class="document-message">{{revision.message}}</div>
          <div class="document-info">
            <strong>{{revision.uploader.username}}</strong> uploaded
            <strong>Revision #{{ getNumOfRevisions(document.revisions) - idx + 1}}</strong>
            on {{revision.dateUploaded | date: 'MM/dd/yyyy hh:mm:ss'}}</div>
        </div>

        <div class="card-action-buttons">
          <button class="btn btn-outline-secondary"><i class="fa fa-download"></i></button>
          <button class="btn btn-outline-secondary"><i class="fa fa-exchange"></i></button>
          <button class="btn btn-outline-secondary"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
</ngb-tab>

<ngb-tab>
<ng-template ngbTabTitle><i class="fa fa-icon fa-comments-o"></i>Comments</ng-template>
<ng-template ngbTabContent>
  comments tab
</ng-template>
</ngb-tab>
</ngb-tabset>


<ng-template #editDocumentNameModal>
<div class="modal-header">
  <h5 class="modal-title">Edit Document Name</h5>
</div>

<div class="modal-body">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-file-o"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Enter a new document title" name="document-title" [(ngModel)]="document.title">
  </div>

  <div class="text-hints">Enter a new title for the document.</div>
</div>

<div class="modal-footer">
  <button class="btn btn-dark" type="button" (click)=editDocumentName(document._id)>Save</button>
  <button class="btn btn-dark" type="button" (click)="closeModal()">Cancel</button>
</div>
</ng-template>
