.card-body {
  padding: 10px;
}

.card-action-buttons {
  float: right;
  margin-top: 17px;
  padding-right: 10px;
}

.card-container {
  margin-top: 15px;
}

.card-document-title {
  float: left;
  padding-left: 10px;
}

.comment-date {
  color: #808080;
  font-size: 14px;
}

.deleted-revisions {
  background: #E8E8E8;
}

.document-btn-right {
  float: right;
  margin-top: -40px;
}

.document-header {
  margin-bottom: -25px;
  padding: 0;
}

.document-info {
  color: #808080;
  font-size: .8em;
}

.document-message {
  font-size: 1.3em;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

.file-message {
  margin-top: 20px;
}

.header-container {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-top: 25px;
  text-transform: uppercase;
}

.header-divider {
  border-top: 1.5px solid #989898;
  flex-grow: 1;
  margin: 0 10px;
}

hr {
  height: 1.5px;
}

.label {
  font-size: 1.6em;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.line-breaker {
  white-space: pre-line;
}

.revision-details {
  padding-top: 20px;
  text-align: left;
}

textarea {
  height: 300px;
}
