.footer-buttons {
  padding: 15px;
}

.login-module {
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.logo-symbol {
  margin-top: -25px;
  padding: 10px;
}

.tab-grid{
  margin: auto;
}

.ui-inputgroup {
  padding: 15px;
}

.validation-error {
  color: #FF0000;
}
