<p class="card-text">
  Please enter your CalStateLA credentials to log into the system.
</p>

<form #f="ngForm" (ngSubmit)="login()">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="username"
           placeholder="Username" name="username" required>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key"></i></span>
    </div>
    <input type="password" class="form-control" [(ngModel)]="password"
           placeholder="Password" name="password" required>
  </div>

  <div class="validation-error" *ngIf="wrongInfo">
    The username and/or password are incorrect.<br>
    Please try again.
  </div>

  <div class="validation-error" *ngIf="timeout">
    Unable to reach PRISM server.<br>
    Please contact your system administrator.
  </div>

  <div class="col-12 footer-buttons">
    <button class="btn btn-dark" type="submit" [disabled]="!f.form.valid">
      Sign In
    </button>
  </div>
</form>
