<p *ngIf="! user; else hasUser" class="mt-3">
  Fetching user ...
</p>

<ng-template #hasUser>
  <p class="text-right mt-3">
    <button type="button" *ngIf="!editable" (click)="editable = true" class="btn btn-primary">Edit User</button>
  </p>

  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-row m-3">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <input [(ngModel)]="user.name.first" [disabled]="!editable" name="firstName" type="text"
          class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input [(ngModel)]="user.name.last" [disabled]="!editable" name="lastName" type="text"
          class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label>Username</label>
        <input [(ngModel)]="user.username" [disabled]="!editable" name="username" type="text"
          class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <input [(ngModel)]="user.email" [disabled]="!editable" name="email" type="email"
          class="form-control" required>
      </div>
      <div class="form-group col-md-12">
        <label>Options</label>
        <div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="user.internal" [disabled]="!editable" name="internal" type="checkbox">
            <label class="form-check-label">Internal</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="user.disabled" [disabled]="!editable" name="disabled" type="checkbox">
            <label class="form-check-label">Disabled</label>
          </div>
        </div>
      </div>
      <div *ngIf="user.internal" class="form-group col-md-6">
        <label>Password</label>
        <input [(ngModel)]="user.password" [disabled]="!editable" name="password" type="password"
          class="form-control">
        <small *ngIf="editable" class="form-text text-muted">
          Leave the password field empty to keep the current password
        </small>
      </div>
      <div *ngIf="user.internal" class="form-group col-md-6">
        <label>Confirm Password</label>
        <input [(ngModel)]="user.password2" [disabled]="!editable" name="password2"
          type="password" class="form-control">
      </div>
    </div>
    <div class="form-row m-3">
      <a *ngIf="editable" routerLink="/users" class="btn btn-secondary">Cancel</a>
      <button *ngIf="editable" [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary mx-3">Save</button>
    </div>
  </form>
</ng-template>

<p calss="mt-3">
  <a routerLink="/users">Back to Users</a>
</p>
