<h1 class="display-4">{{review && review.program && review.program.name ? review.program.name : ''}} Review {{yearString}}</h1>
<svg id="svg-canvas" width="1280" height="200"></svg>
<hr />
<button class="btn btn-primary">Add Document</button>
<br />
<br />
<prism-document #documentComponent [documentId]="documentId" [nodeId]="nodeId" [reviewId]="review._id" [updateReviewComponent]="handleDocumentUpdate.bind(this)" *ngIf="documentId"></prism-document>
<div class="jumbotron" *ngIf="!documentId">
  <h1 class="display-4">No document selected</h1>
  <p class="lead">Click on a document from the review to get started</p>
</div>
