a {
  color: #198FC2;
  font-weight: bold;
}

a:hover {
  color: #126183;
}

.bg-info {
  color: #FFFFFF;
}

.file-title {
  margin-top: 20px;
}

.modal-label {
  font-size: 1.2em;
  font-weight: bold;
}
