.btn-group {
  margin-left: 16px;
}

.checkbox-size {
  height: 20px;
  width: 20px;
}

.counter {
  margin-top: 8px;
  max-height: 36px;
}

.download-file {
  color: #568ba5;
  cursor: pointer;
  font-weight: bold;
  text-decoration:none;
}

.download-file:hover {
  text-decoration: underline;
}

.search-container {
  display: inline-flex;
  float: left;
  margin-right: 12px;
  max-height: 36px;
}
