<p class="text-right mt-3">
  <a class="btn btn-primary" routerLink="new">New User</a>
</p>

<table class="table table-bordered table-hover mt-3">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th class="d-none d-md-table-cell">Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td [ngClass]="{'bg-light': user.internal}">
        <a [routerLink]="[user._id]">{{user.name.first}} {{user.name.last}}</a>
      </td>
      <td class="d-none d-md-table-cell">{{user.username}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
