<h1 class="display-4">Dashboard</h1>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="fa fa-university"></i> Active Reviews
    </ng-template>
    <ng-template ngbTabContent>
      <prism-review-list></prism-review-list>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="fa fa-graduation-cap"></i> Archived Reviews
    </ng-template>
    <ng-template ngbTabContent>
      <prism-review-list [reviewFilter]="'archive'">
      </prism-review-list>
    </ng-template>
  </ngb-tab>

  <ngb-tab *ngIf="sharedService.isAdmin()">
    <ng-template ngbTabTitle>
      <i class="fa fa-trash"></i> Deleted Reviews
    </ng-template>
    <ng-template ngbTabContent>
      <prism-review-list [reviewFilter]="'deleted'">
      </prism-review-list>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><i class="fa fa-th-list"></i> Recent Actions</ng-template>
    <ng-template ngbTabContent>
      <div class="container-fluid container-fluid-content">
        <div class="search-bar" *ngIf="sharedService.isAdmin()" style="margin-bottom:25px;">
          <div class="form-row">
            <div class="form-group col-md-7">
              <prism-user-selector [configType]="'single'"></prism-user-selector>
              <div class="text-hints">
                Search for a user to return all their action history.
              </div>
            </div>

            <div class="form-group col-md-3">
              <select class="custom-select rounded-0" [(ngModel)]="selectedOption">
                <option *ngFor="let option of filterOptions">{{option}}</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <button class="btn btn-dark" type="button"
                      (click)=searchUserActions(user)>Search
              </button>
            </div>
          </div>
        </div>

        <ng-container *ngFor="let action of displayHistory">
          <div class="card card-container" *ngIf="action.date && action.user">
            <div class="card-body">
              <div class="card-header-title">
                <div class="card-message">
                  <a [routerLink]="" (click)="goToLink(action.type, action.object)">
                    {{action.user.name.first}} {{action.user.name.last }}
                    {{ action.text }} {{ action.label }}
                  </a>
                </div>

                <div class="card-info">
                  <strong>{{action.user.username}}</strong> on
                  <strong>{{ action.date | date: 'MM/dd/yyyy hh:mm:ss' }}</strong>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="pagination-bar" *ngIf="totalLogs; else emptyActions">
          <ngb-pagination class="d-flex justify-content-center"
                          [collectionSize]="totalLogs"
                          [pageSize]="itemsPerPage"
                          [maxSize]="5"
                          [(page)]="page" [rotate]="true"
                          [ellipses]="true"
                          [boundaryLinks]="true"
                          (pageChange)="loadPage($event)">
          </ngb-pagination>
        </div>

        <ng-template #emptyActions>
          <p class="grid-space">
            <ngb-alert class="info-message" type="info" [dismissible]="false">
              <strong>Information:</strong> There are currently no actions recorded.
            </ngb-alert>
          </p>
        </ng-template>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
