html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* a, a:visited {
  color: #fff;
  text-decoration:none;
}

a:hover {
  color: #ffd700;
} */

.app-container {
  min-height: 100%;
}

.footer {
  background-color: #1A1A1A;
  color: #FFF;
  height: 60px;
  margin-top: -60px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.footer-text {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header {
  background-color: #1A1A1A;
  color: #FFF;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-item {
  font-size: 1em;
  padding-left: 5px;
  padding-right: 15px;
}

.header-logo {
  font-size: 2em;
  margin-left: 15px;
}

.header-left {
  align-items: center;
  display: flex;
  float: left;
  height: inherit;
  margin-left: 20px;
}

.header-middle {
  align-items: center;
  display: flex;
  height: inherit;
}

.header-middle-items {
  margin: 0 auto;
  text-align: center;
}

.header-right {
  align-items: center;
  display: flex;
  float: right;
  height: inherit;
  margin-right: 15px;
}

.main {
  padding-bottom: 100px;
  padding-top: 100px;
}
