.dialog-module {
  text-align: center;
}

.buttons-container {
  display: table;
}

.footer-buttons {
  bottom: 0;
  margin: 15px;
  text-align: center;
}

.header-container {
  padding: 7px;
}

.header-panel {
  color: #FFF;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.grid-space {
  padding-top: 20px;
}

.group-label {
  padding: 5px;
  padding-right: 15px;
  text-align: right;
}

.group-manager-buttons {
  bottom: 0;
  padding: 20px;
  text-align: center;
}

.info-message {
  display: grid;
  font-size: 25px;
  margin-top: 20px;
}

.modal {
  padding-top: 50px;
}

.modal-title {
  width: 100%;
}

.modal-header {
  background-color: #1A1A1A;
  border-radius: 1px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

::ng-deep .card-header {
  background: #363636;
  border-radius: 6px;
  color: #FFF;
}

::ng-deep .card-body {
  padding: 0;
}

.message {
  margin: 10px;
}

.panel-buttons {
  bottom: -7px;
  position: absolute;
  right: -8px;
}

.text-hints {
  color: #808080;
  font-size: 14px;
  margin-top: 6px;
  text-align: left;
}

td, th {
  vertical-align: middle;
}

:host ::ng-deep .ui-autocomplete-token {
  margin: 3px;
}

.update-module {
  padding: 35px;
}
