<!-- Toolbar to add or delete a group-->
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Add Group" icon="fa-plus" class="ui-button-success" (click)=addGroupDialog()></button>
  </div>
</p-toolbar>

<!-- Dialog module for adding a new group -->
<p-dialog class="dialog-module" header="Add New Group" [(visible)]="displayAdd" modal="modal" width="600" [responsive]="true">
  <p-messages [(value)]="msgs"></p-messages>

  <form class="dialog-box" #f="ngForm" (ngSubmit)="submitGroup()">
    <div class="dialog-box ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" [(ngModel)]="group.name" pInputText name="group-name" placeholder="Enter New Group Title">
        </div>
      </div>
    </div>

    <div class="text-hints">Enter a name for the new group.</div>

    <div class="ui-grid ui-grid-col-12">
      <div class="footer-buttons">
        <button type="submit" pButton icon="fa-plus" label="Add"></button>
        <button type="button" pButton icon="fa-close" (click)="displayAdd=false" label="Cancel"></button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Dialog module for deleting a group -->
<p-dialog class="dialog-module" header="Delete Group" [(visible)]="displayDelete" modal="modal" width="600" [responsive]="true">
  <p-messages [(value)]="msgs"></p-messages>

  <div class="dialog-box ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-col-12">
      <b><u>NOTE:</u></b> Deleting a group will permanently remove the access given to its members. Are you sure you want to delete?
    </div>
  </div>

  <div class="ui-grid ui-grid-col-12">
    <div class="footer-buttons">
      <button type="button" pButton icon="fa-check" (click)="deleteGroup(group._id)" label="Delete"></button>
      <button type="button" pButton icon="fa-close" (click)="displayDelete=false" label="Cancel"></button>
    </div>
  </div>
</p-dialog>

<!-- Dialog module for updating a specific group -->
<p-dialog class="dialog-module" header="Edit Group Manager" [(visible)]="displayGroupManager" modal="modal" width="800" [responsive]="true">
  <p-messages [(value)]="msgs"></p-messages>

  <div class="update-module ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-col-12">
      <span class="group-label ui-grid-col-2">Group Name</span>
      <span class="ui-grid-col-9">
        <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="Enter a new group name" [(ngModel)]="group.name" ngDefaultControl/>
        </div>

        <div class="text-hints">Enter a new name for the group.</div>
      </span>
    </div>

    <div class ="ui-grid-col-12 grid-space">
      <span class="group-label ui-grid-col-2">Members</span>
      <span class="ui-grid-col-9">
        <p-autoComplete [(ngModel)]="displayList"
                        [suggestions]="filteredMembers"
                        (completeMethod)="filteredUsers($event)"
                        [minLength]="1" placeholder="Type in a username"
                        field="name" [multiple]="true" [style]="{'text-align':'left'}">
        </p-autoComplete>

        <div class="text-hints">Type in a username to get a list of possible users to add in the group.</div>
      </span>
    </div>

    <div class="ui-grid-col-12 grid-space">
      <span class="group-label ui-grid-col-2">Deleting Group</span>
      <span class="ui-grid-col-9">
        <button type="button" pButton (click)="deleteGroupDialog()" label="Delete Group" class="ui-button-danger"></button>
        <div class="text-hints">Once the group is deleted, all members of the group will lose their given access.</div>
      </span>
    </div>
  </div>

  <div class="ui-grid ui-grid-col-12">
    <div class="group-manager-buttons">
      <button type="button" pButton icon="fa-save" (click)="updateGroup(group.name)" label="Save"></button>
      <button type="button" pButton icon="fa-close" (click)="displayGroupManager=false" label="Cancel"></button>
    </div>
  </div>
</p-dialog>

<!-- Displays the current groups and their members -->

<!-- <div>
  <code>
    <pre>{{groups |json}}</pre>
  </code>
</div> -->

<div *ngIf="groups.length > 0; else emptyGroup">
<div *ngFor="let group of groups">
  <p-dataTable [value]="group.members"
               rowGroupMode="subheader"
               [sortableRowGroup]="false"
               expandableRowGroups="true"
               [style]="{'padding-top': '50px'}">

    <p-header>
      <div class="header-container">
        <div class="header-panel">
          {{group.name}}
          <div class="panel-buttons">
            <button type="button" pButton icon="fa-gear" (click)=groupManagerDialog(group._id)></button>
          </div>
        </div>
      </div>
    </p-header>

    <p-column field="username" header="Username" [style]="{'text-align':'center'}"></p-column>
    <p-column field="name.first" header="First Name" [style]="{'text-align':'center'}"></p-column>
    <p-column field="name.last" header="Last Name" [style]="{'text-align':'center'}"></p-column>

    <p-column [style]="{'text-align':'center'}">
        <ng-template pTemplate="header">
            Delete?
        </ng-template>
        <ng-template let-member="rowData" pTemplate="body">
            <button type="button" pButton (click)="deleteMember(group._id, member._id)" icon="fa-trash"></button>
        </ng-template>
    </p-column>


  </p-dataTable>
</div>
</div>

<!-- Info message when there are no groups -->
<ng-template #emptyGroup>
  <p-message class="info-message" severity="info" text="There are currently no groups."></p-message>
</ng-template>
