<ng-template #modalContent>
  <div class="modal-header">
    <h5 class="modal-title">Event</h5>
  </div>

  <div class="modal-body">
    <div *ngIf="alert">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Warning:</strong> {{ alert.message }}
      </ngb-alert>
    </div>

    <strong>Title:</strong> {{ modalData?.event.title }} <br/>
    <strong>Start:</strong> {{ modalData?.event.start | date: 'MMM dd, yyyy hh:mm a'}}<br/>
  </div>

  <div class="modal-footer">
    <div *ngIf="modalData?.action === 'Delete'; else viewEvent">
      <button type="button" class="btn btn-danger" (click)="deleteEvent(modalData.event)">Delete</button>
      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
    </div>

    <ng-template #viewEvent>
      <div *ngIf="!modalData?.event.meta.canceled">
        <button type="button" class="btn btn-danger" (click)="cancelEvent()">Cancel Event</button>
      </div>
      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
    </ng-template>
  </div>
</ng-template>


<ng-template #addNewEventModal>
  <div class="modal-header">
    <h5 class="modal-title">
      {{modalData?.action === 'Edit' ? 'Edit Event' : 'New Event'}}
    </h5>
  </div>

  <form #f="ngForm" (ngSubmit)="modalData?.action === 'Edit' ? submitEvent('Edit') : submitEvent('Submit')">
    <div class="modal-body">
      <div *ngIf="alert">
        <ngb-alert type="danger" [dismissible]="false"><strong>Invalid Event:</strong> {{ alert.message }}</ngb-alert>
      </div>
      <h5>Event Details</h5>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-info-circle"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Enter an event title" name="event-name" [(ngModel)]="newEvent.title" required>
    </div>

    <div class="text-hints">Enter a name for the new event.</div>

    <div class="row">
      <div class="col-8">
        <div class="input-group grid-space">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>

          <input class="form-control" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel"
                 [(ngModel)]="date" ngbDatepicker #d2="ngbDatepicker">
        </div>

        <div class="text-hints">Click on the calendar icon to select a date.</div>
      </div>

      <div class="col-4" style="margin-top:-18px;">
        <ngb-timepicker [(ngModel)]="time" [meridian]="true" [minuteStep]="15" name="time-picker"></ngb-timepicker>
      </div>

      <div class ="col-12">
        <h5 class="grid-space">Notifications</h5>
        <prism-user-selector [configType]="'groups'" [suggestedMembers]="suggestedGroups">
        </prism-user-selector>

        <div class="text-hints">
          Type in a group name to notify the members of the event.
        </div>
      </div>

      <div class ="col-12 grid-space">
        <prism-user-selector [configType]="'multiple'"
                             [suggestedMembers]="suggestedUsers">
        </prism-user-selector>

        <div class="text-hints">
          Type in a username to notify the person of the event.
        </div>
      </div>

      <div class="col-12 grid-space">
        <h5 class="grid-space">Attach File (Optional)</h5>
        <div class="custom-file">
          <input name="file" type="file" class="custom-file-input"
          accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          (change)="onFileChange($event)">

          <label class="custom-file-label">
            {{ fileName ? fileName : 'Choose a file'}}
          </label>
          <div class="text-hints">Click on browse to attach a file.</div>
        </div>

        <div class="file-message grid-space">
          <input type="text" class="form-control" [(ngModel)]="message" name="file-message"
                 placeholder="Enter a tile for the file">
          <div class="text-hints">Give a title to the attached file.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!f.form.valid" type="submit">Confirm</button>
    <button class="btn btn-dark" type="button" (click)="closeModal()">Cancel</button>
  </div>
</form>
</ng-template>

<div class="month-year-display">
  <button mwlCalendarPreviousView class="btn btn-primary" [(viewDate)]="viewDate"  [view]="view">
    <i class="fa fa-chevron-left"></i>
  </button>

  <span class="month-year-text">{{ viewDate | date:'MMMM yyyy' }}</span>

  <button mwlCalendarNextView class="btn btn-primary" [(viewDate)]="viewDate"  [view]="view">
    <i class="fa fa-chevron-right"></i>
  </button>
</div>

<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  [activeDayIsOpen]="activeDayIsOpen"
  (dayClicked)="dayClicked($event.day)"
  (eventClicked)="handleEvent('Clicked', $event.event)">
</mwl-calendar-month-view>

<div style="padding-top: 20px;">
  <button class="btn btn-info" (click)="openModal(addNewEventModal)">New Event</button>
</div>
