.cal-month-view .cal-event-title {
  color: #000;
}

.cal-month-view .cal-open-day-events {
  background-color: #EEE;
  -webkit-box-shadow: none;
	box-shadow: none;
}

.month-year-display {
  align-items: center;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  padding-bottom: 20px;
}

.month-year-text {
  padding-left: 20px;
  padding-right: 20px;
}
