.table {
  width: 50%;
}

.alert-messages {
  padding-top: 30px;
}

.notification-label {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 30px;
}

.row {
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}

.text-hint {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: uppercase;
}

.update-buttons {
  text-align: center;
}
