<div class="settings-div">
  <p-tabView>
    <p-tabPanel header="Profile" leftIcon="fa-info-circle">
      <div class="notification-label">
        <span>{{currentUser.name.first}}'s Profile</span>
        <button pButton type="button" icon="fa-pencil" (click)="updateInfo=true"></button>
      </div>

      <table *ngIf="!updateInfo" class="table-style">
        <tr>
          <td class="row-label">Username</td>
          <td>{{currentUser.username}}</td>
        </tr>
        <tr>
          <td class="row-label">Name</td>
          <td>{{currentUser.name.first}} {{currentUser.name.last}}</td>
        </tr>
        <tr>
          <td class="row-label">E-mail</td>
          <td>{{currentUser.email}}</td>
        </tr>
      </table>

      <!-- Update user's basic information and/or current password -->
      <div *ngIf="updateInfo">
        <div class="update-module ui-grid ui-grid-responsive ui-fluid">
          <div class="text-hint">Basic Information</div>
          <div class="ui-grid-col-10">
            <span class="ui-grid-col-3">First Name</span>
            <span class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Enter a first name" [(ngModel)]="currentUser.name.first" ngDefaultControl/>
              </div>
            </span>
          </div>

          <div class="ui-grid-col-10">
            <span class="ui-grid-col-3">Last Name</span>
            <span class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Enter a first name" [(ngModel)]="currentUser.name.last" ngDefaultControl/>
              </div>
            </span>
          </div>

          <div class="ui-grid-col-10">
            <span class="ui-grid-col-3">E-mail</span>
            <span class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Enter a first name" [(ngModel)]="currentUser.email" ngDefaultControl/>
              </div>
            </span>
          </div>

          <div class="ui-grid-col-10">
            <div class="text-hint">Change Password</div>
            <span class="ui-grid-col-3">Current Password</span>
            <span class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <input type="password" pInputText placeholder="Enter current password" ngDefaultControl/>
              </div>
            </span>
          </div>

          <div class="ui-grid-col-10">
            <span class="ui-grid-col-3">New Password</span>
            <span class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <input type="password" pInputText placeholder="Enter a new password" ngDefaultControl/>
              </div>
            </span>
          </div>

          <div class="ui-grid-col-10">
            <span class="ui-grid-col-3">Re-enter New Password</span>
            <span class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <input type="password" pInputText/>
              </div>
            </span>
          </div>
        </div>

        <div class="update-buttons">

          <button pButton type="button" label="Save" (click)="updateInfo=false"></button>
          <button pButton type="button" label="Cancel" (click)="updateInfo=false"></button>
        
        </div>





      </div>
    </p-tabPanel>

      <p-tabPanel *ngIf="currentUser.config" header="Notification Settings" leftIcon="fa-envelope-o">
        <div class="notification-label">
          <span>Current Settings</span>
          <button pButton type="button" icon="fa-pencil" (click)="updateSettings=true"></button>
        </div>

        <table class="table-style" *ngIf="updateSettings==false">
          <tr>
            <td colspan="2" class="row-label">E-mail Notifications</td>
          </tr>

          <tr>
            <td>Document Finalized</td>
            <td>{{currentUser.config.type.email.type.documentFinalized ? "On" : "Off" }}</td>
          </tr>

          <tr>
            <td>New Comments</td>
            <td>{{currentUser.config.type.email.type.newComment  ? "On" : "Off" }}</td>
          </tr>

          <tr>
            <td>Rescheduled Meetings</td>
            <td>{{currentUser.config.type.email.type.meetingChange  ? "On" : "Off" }}</td>
          </tr>
        </table>

        <div *ngIf="updateSettings">
          <div>Update Settings form shall be here</div>
          <button pButton type="button" label="Update" (click)="updateSettings=false"></button>
          <button pButton type="button" label="Cancel" (click)="updateSettings=false"></button>
        </div>
      </p-tabPanel>
  </p-tabView>
</div>
